{% extends "layout.html" %}
{% block content %}

<div clss="container-fluid padding">
	<div class="row welcome text-center">    
        <div class="col-12">
            <h3>什麼是虛擬貨幣與區塊鏈?</h3>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/1ah0O6rRN_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div clss="container-fluid padding">
        <div class="row welcome text-center">    
            <div class="col-12">
                <h3>什麼是比特幣與挖礦?</h3>
                <iframe width="854" height="480" src="https://www.youtube.com/embed/vqSautdQEoI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
</div>
</div>


<div clss="container-fluid padding">
        <div class="row welcome text-center">    
            <div class="col-12">
                <h3>關於挖礦與礦場</h3>
                <iframe width="854" height="480" src="https://www.youtube.com/embed/caApu9se5C0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
</div>
</div>

{% endblock content %}